.educacion {
   
}
.section-title {
   margin: 50px 0;
}
.lista {
   display: flex;
   flex-direction: column;
   list-style: none;
   padding: 0px;
}

.block {
   position: relative;
   display: flex;
   padding-bottom: 25px;
   margin-bottom: 25px;
   max-width: 720px;
}
.block::after {
   content: "";
   position: absolute;
   width: 30%;
   height: 1px;
   bottom: 0px;
   left: 50%;
   transform: translateX(-50%);
   border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.add {
   height: 100px;
   max-width: 720px;
   text-align: center;
   user-select: none;
}
.add span {
   cursor: pointer;
   color: #959595;
   font-size: 100px;
   background: #d9d9d9;
   border-radius: 50%;
}

