<div class="top-bar">
   <a class="logo-container" href="https://argentinaprograma.inti.gob.ar/" target="">
      <img id="logo" src="https://laudin-portfolio-backend.herokuapp.com/static/APLogo-20-20.png" alt="logo" >
   </a>
   <div class="user-container">
      <a class="social" href="" target="_blanck">
         <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="social" href="" target="_blanck">
         <i class="fa-brands fa-square-github"></i>
      </a>
      <button class="login" (click)="show=!show" (click)="this.toggleEdit.emit()">Login</button>
   </div>
</div>

<div class="banner-container">
   <div class="buttons" *ngIf="edit">
      <button *ngIf="true" id="edit" (click)="handleClick($event)"><i class="fa-solid fa-pen"></i></button>
      <input type="file" name="banner" (change)="handleFileChange($event)" id="up-banner" accept=".png, .jpg">
   </div>
   <img class="banner" src={{data.banner}} alt="banner" >
</div>
<app-login *ngIf="show" (toggleShow)="toggleShow()"></app-login>