<div class="about-container">

   <div class="profile-container">
      <div class="buttons" *ngIf="edit">
         <button *ngIf="true" id="edit" (click)="handleClick($event)"><i class="fa-solid fa-pen"></i></button>
         <input type="file" name="profile" (change)="handleFileChange($event)" id="up-profile" accept=".png, .jpg">
      </div>
      <img class="profile" src={{data.profile}} alt="profile">
   </div>

   <div class="description container">
      <div class="buttons" *ngIf="edit">
         <button id="edit" (click)="editing_info=true"><i class="fa-solid fa-pen"></i></button>
         <button *ngIf="editing_info" id="save" (click)="handleChange()" (click)="editing_info=false">Guardar</button>
         <button *ngIf="editing_info" id="cancel" (click)="editing_info=false">Reset</button>
      </div>
      <div *ngIf="!editing_info" class="info-container">
         <h2 class="name">{{data.nombre}} {{data.apellido}}</h2>
         <h3 class="title">{{data.titulo}}</h3>
      </div>
      <div *ngIf="editing_info" class="info-input-container">
         <input type="text" id="name-input" [value]="data.nombre"/>
         <input type="text" id="title-input" [value]="data.titulo"/>
      </div>
   </div>

   <!--  -->
   <div class="info">
      <div class="buttons" *ngIf="edit">
         <button id="edit" (click)="editing_about=true"><i class="fa-solid fa-pen"></i></button>
         <button *ngIf="editing_about" id="save" (click)="handleChange()" (click)="editing_about=false">Guardar</button>
         <button *ngIf="editing_about" id="cancel" (click)="editing_about=false">Reset</button>
      </div>
      <div></div>
      <h2>Sobre mi</h2>
      <p *ngIf="!editing_about" id="about">{{data.acerca_de}}</p>
      <div class="textarea-container">
         <textarea *ngIf="editing_about" class="textarea" id="about-input" [value]="data.acerca_de">{{data.acerca_de}}</textarea>
      </div>
   </div>
</div>
